packages/my-nextjs-app
#packages/cors-server

**/node_modules

#**/nx.json
# **/generated/**
**/.env

**/.DS_Store
**/dist
**/dist-ssr
**/*.local

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# Tests
**/coverage
**/.nyc_output

# IDE - VSCode
**/.vscode
**/.idea

# /packages/api/prisma/migrations
